<div class="row">
    <h1>Ask a Question</h1>

    <%= form_for @question do |f| %>
      <%= f.label "Title" %>
      <%= f.text_field :title %>

      <%= f.label "Body" %>
      <%= f.text_field :body %>

      <%= f.submit "Ask Question" %>

    <%-end-%>

</div>
