<div class="row">
    <h1><%=@question.title%></h1>

    <%=@question.body%>

    <br>
    <br>
    <%= form_for [@question, @answer] do |f| %>
      <%= f.label "Answer" %>
      <%= f.text_field :body %>
      <br>
      <br>
      <%= f.submit "Submit Answer" %>

    <%-end-%>
</div>
